<!DOCTYPE html>
<html lang="en">
<head>
    <h3>Plan your next activity here!</h3>
</head>
<body>
    <h4>Select the type of activity you would like to do below</h4>
    <form action = "/getresponse" method = "get">
        <label for = "username"> My name is: </label>
        <input type = "text" id = "username" name = "username"/><br />
        <input type = "checkbox" name = "act_type" value="education" id ="education" >
        <label for="education">education</label><br />
        <input type = "checkbox" name = "act_type" value="recreational" id = "recreational">
        <label for="recreational">recreational</label><br />
        <input type = "checkbox" name = "act_type" value="social" id = "social">
        <label for="social">social</label><br />
        <input type = "checkbox" name = "act_type" value="diy" id = "diy" >
        <label for="diy">diy</label><br />
        <input type = "checkbox" name = "act_type" value="charity" id = "charity" >
        <label for="charity">charity</label><br />
        <input type = "checkbox" name = "act_type" value="cooking" id = "cooking">
        <label for="cooking">cooking</label><br />
        <input type = "checkbox" name = "act_type" value="relaxation" id = "relaxation">
        <label for="relaxation">relaxation</label><br />
        <input type = "checkbox" name = "act_type" value="music" id = "music" >
        <label for="music">music</label><br />
        <input type = "checkbox" name = "act_type" value="busywork" id = "busywork">
        <label for="busywork">busywork</label><br />
        <input type = "checkbox" name = "act_type" value="surpriseme" id = "surpriseme">
        <label for="surpriseme">Surprise me!</label><br />
        <input type = "submit" value = "Submit!" name ="submit" id = "submit"/><br />
    </form>

</body>
</html>